@mixin bg-model {
    width: 280px;
    height: 340px;
    background-image: url("../glassesImage/model.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 15%;
}
.modelAfter {
    @include bg-model;
    left: 20%;
}
.modelBefore {
    @include bg-model;
    right: 20%;
}

#putGlasses {
    position: absolute;
    top: 25%;
    right: 20%;
    left: 20%;
}
